@import 'tailwindcss';
@import 'react-datepicker/dist/react-datepicker.css';
@plugin "@tailwindcss/typography";

:root {
   --background: #ffffff;
   --foreground: #171717;
}

@theme inline {
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --font-sans: var(--font-geist-sans);
   --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
   :root {
      --background: #0a0a0a;
      --foreground: #ededed;
   }
}

body {
   background: var(--background);
   color: var(--foreground);
   font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeUp {
   0% {
      opacity: 0;
      transform: translateY(16px) scale(0.98);
      filter: blur(6px);
   }

   100% {
      opacity: 1;
      transform: translateY(0) scale(1);
      filter: blur(0);
   }
}

.animate-fade-up {
   animation: fadeUp 1000ms ease-out both;
}

.results-datepicker {
   border: 1px solid rgba(255, 255, 255, 0.1) !important;
   border-radius: 0.75rem !important;
   background: rgb(15 23 42) !important;
   color: blue !important;
   box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.5);
   overflow: hidden;
}

.results-datepicker .react-datepicker__header {
   background: rgb(15 23 42) !important;
   border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.results-datepicker .react-datepicker__current-month,
.results-datepicker .react-datepicker__day-name,
.results-datepicker .react-datepicker__day {
   color: rgb(105, 159, 229) !important;
}

.results-datepicker .react-datepicker__day:hover {
   background: rgba(37, 99, 235, 0.25) !important;
   border-radius: 9999px;
}

.results-datepicker .react-datepicker__day--selected,
.results-datepicker .react-datepicker__day--keyboard-selected {
   background: rgb(8, 0, 163) !important;
   color: white !important;
   border-radius: 9999px;
}

.results-datepicker .react-datepicker__day--disabled {
   color: rgb(71 85 105) !important;
}

.results-datepicker .react-datepicker__triangle {
   display: none;
}